@tailwind base;
@tailwind components;
@tailwind utilities;


.playwrite-no-123 {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.playwrite-no-123-bold {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}